OPTIONS
logging			no

INTERFACES
lan			eth1	10.0.1.0/24
ext			eth2	10.0.2.0/24

ALIASES
mypc	10.0.1.1

FIREWALL
# input/output rules
local:80 > local:81	 tcp | -m cpu --cpu 0
local:83 > mypc:84  tcp
mypc:84-88 > local:91  udp
local:123 <> mypc:999  tcp

# deny rules
local // mypc:80  tcp
local / local:82  tcp
mypc:100 / local:200  udp

# nat rules
local [10.0.2.5:90] > mypc  tcp
local > [10.0.2.6:90] mypc  tcp
local [.] > mypc

POLICIES

CUSTOM
