INTERFACES
lan		eth0	10.0.0.0/24
ext		eth1	0.0.0.0/0

ALIASES
mypc			10.0.0.2
router_ext_ip	1.2.3.4
malicious_host	5.6.7.8

FIREWALL
# machines inside the lan are NAT'ed (using masquerade) when communicating through ext
lan [.] > ext

# forbid the communication with a malicious host
lan / malicious_host

# dnat to mypc on port 8888
ext > [router_ext_ip:8888] mypc:8888	|	-p udp

# allow access to port 80 on this machine
ext > local:80

POLICIES
* // * | -p icmp
* // * | -p udp
* / *

CUSTOM
# ssh
-A INPUT -p tcp --dport 22 -j ACCEPT
-A OUTPUT -m state --state ESTABLISHED -j ACCEPT
