OPTIONS
default_rules yes
logging no

INTERFACES
lan     eth0    10.0.0.0/24
ext     eth1    0.0.0.0/0    wan

ALIASES
workstation     10.0.0.10

FIREWALL
lan [.] > ext

POLICIES
* / *

LIMITS
# Limit all egress traffic on the WAN to 100 Mbit/s.
on ext * > * 100mbit
# Give the workstation an independent 10 Mbit/s upload ceiling.
on ext workstation > * 10mbit
# Limit all traffic sent to the LAN and downloads to the workstation.
on lan * > * 100mbit
on lan * > workstation 25mbit

CUSTOM
