OPTIONS
logging			no

INTERFACES
internet    eth0    0.0.0.0/0
lan         eth1    10.0.0.0/24
test        eth2    192.168.0.0/24

ALIASES
harrypc     10.0.0.121
bradpc      10.0.0.122
johnpc      10.0.0.124

FIREWALL
johnpc > test  tcp
{
  harrypc > internet:(22,80)  tcp
  harrypc / internet  tcp
  * > internet  tcp
}
{
  bradpc > test:(22,80)  tcp
  bradpc / test  tcp
  * > test  tcp
}
internet > [1.1.1.1:80] harrypc  tcp

POLICIES

CUSTOM
# empty
