OPTIONS
logging			no

INTERFACES
lan		eth0	10.0.0.0/24
ext		eth1	0.0.0.0/0

ALIASES
mypc			10.0.0.2
router_ext_ip	1.2.3.4
malicious_host	5.6.7.8

FIREWALL
lan [.] > ext
# forbid the communication with a malicious host
lan / malicious_host
# dnat to mypc on port 8888
ext > [router_ext_ip:8888] mypc:8888  udp

POLICIES

CUSTOM
# empty