OPTIONS
default_rules yes
logging no

INTERFACES
lan     lan0    10.77.10.0/24
ext     wan0    10.77.20.0/24    wan

ALIASES
client_a    10.77.10.10
client_b    10.77.10.11
server      10.77.20.10

FIREWALL
lan [.] > ext

POLICIES
* / *

LIMITS
on ext egress * > * 20mbit
on ext egress client_a > * 5mbit

CUSTOM
